/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
h1{
    font-size: 50px;
    color: #3E667A;
}

.nombre-sitio span{
    font-size: 50px;
    color: #986D81;
    
}

h2 span{
    color:#3E667A;
}

/* Los pseudoselectores son los encargados de escoger
    directamente que elemento hijo deseamos modificar
    ya sea con first-child para el primer elemento hijo
    last-child para el ultimo elemento hijo
    o nth-child(posicion del elemento hijo)
*/
/* nav a:nth-child(3){
    text-transform: uppercase;
    font-size: 50px;
} */
/* 

nav a{
    text-transform: uppercase;
}

nav a{
    text-transform: uppercase;
}
.navegacion-footer a{
    text-transform: lowercase;
} */


.navegacion {
    background-color: #e1e1e1;
    
}
.navegacion a{
    text-decoration: none;
}

/* Modulos, BEM, SMACCS*/

/* .enlace{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color:#037bc0;
    padding-right: 10px;
}

.color-rojo{
    color:red;
} */



/* Box model */
.sobre-nosotros{
    background-color: rgb(201, 30, 30);
    width: 200px;
}

.nombre-sitio{
    padding-top: 100px;
    padding-bottom: 100px;
}